[Unit]
Description=AkaiVolumeControl

[Service]
ExecStart=/usr/local/bin/AkaiVolumeControl
Environment="XDG_VTNR=1"
Environment="XDG_SESSION_ID=c1"
Environment="XDG_SEAT=seat0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"

[Install]
WantedBy=multi-user.target
